
.login-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e293b, #0f172a);
    font-family: Arial, Helvetica, sans-serif;
  }
  
 
  .login-card {
    width: 450px;
    background:hsla(0, 0%, 100%, .12);
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  
  .login-title {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
 
  .login-input {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: 0.3s;
  }
  
  .login-input:focus {
    border-color: #667eea;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
  }
  
 
  .login-button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background:#108de5;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .login-button:hover {
    background: #5a67d8;
    transform: translateY(-2px);
  }
  
  .login-button:active {
    transform: scale(0.98);
  }
  .login-page {
    background: linear-gradient(135deg, #0f172a, #1e293b);
  }
  .login-image-section {
    position: relative;
    padding: 0;
    overflow: hidden;
  }
  
  .login-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  
  .login-image-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to right,
      rgba(15, 23, 42, 0.8),
      rgba(15, 23, 42, 0.5)
    );
    z-index: 1;
  }
  
  .password-wrapper {
    position: relative;
  }
  
  .password-input {
    padding-right: 40px; 
  }
  
  .password-eye {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    color: #6c757d;
    transition: 0.2s ease;
  }
  
  
  
  

  
  .login-title {
    text-align: center;
    font-weight: 600;
  }
 